In [5]:
import pandas as pd

In [6]:
data = pd.read_csv('train.csv', index_col = 0)
data.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [7]:
data.shape

(1460, 80)

### Shuffle and Split

In [8]:
from sklearn.model_selection import train_test_split

In [13]:
features = data[['MSSubClass', 'LotArea', 'BsmtUnfSF','GrLivArea']]
target = data[['SalePrice']]

In [28]:
X_train, X_test, y_train, y_test = train_test_split(features, target, train_size = .7)

print('Train set of features: ', X_train.shape)
print('Test set of features: ', X_test.shape)
print('Target for train: ', y_train.shape)
print('Target for test: ', y_test.shape)

Train set of features:  (1021, 4)
Test set of features:  (439, 4)
Target for train:  (1021, 1)
Target for test:  (439, 1)

### Learn the model on train data

In [29]:
from sklearn.linear_model import LinearRegression

In [30]:
my_model = LinearRegression()

In [31]:
# It gives me the function f in Y = f(X). The f here is my_model
my_model.fit(X_train, y_train)

LinearRegression()

### Test the model

In [32]:
from sklearn.metrics import mean_squared_error

In [33]:
y_pred = my_model.predict(X_test)

In [34]:
# Compare with the true values

mean_squared_error(y_pred, y_test)

2268019057.1449847